{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static 'music_app/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'music_app/css/style.css' %}" />
  </head>
  <body>
    {% include 'music_app/navbar.html' %}
    <div class="container">{% block content %}{% endblock content %}</div>

    <script src="{% static 'music_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'music_app/js/jquery.js' %}"></script>
    <script src="{% static 'music_app/js/popper.js' %}"></script>
    <script src="{% static 'music_app/js/style.js' %}"></script>
  </body>
</html>
