{% extends 'music_app/base.html' %}
{% block content %}
<div class="row mt-5">
  {% comment %} image column {% endcomment %}
  <div class="col-4">
    <img src="{{song.song_img.url}}" alt="" style="width:20rem">
  </div>
  {% comment %} end of image column {% endcomment %}

 {% comment %} song detail info column {% endcomment %}
    <div class="col-8 mt-4">
      <h4>{{song.name}}</h4>
      <p>Album:{{song.album}}</p>
      <p>Singer:{{song.singer}}</p>
      <p>Release year:{{song.year}}</p>
      <div class="row">
        <div class="col-3">
          <a href="" class="btn btn-primary">Create new playlist</a>
        </div>
        <div class="col-3">
          <a href="" class="btn btn-success">Add to playlist</a>
        </div>
        <div class="col-10 mt-2">
          <a href="" class="btn btn-danger" style="width:20rem">Add to favourite</a>
          
        </div>
      </div>
    </div> 
  {% comment %} song detail info column {% endcomment %} 
  </div>
  {% comment %} similar songs start {% endcomment %}
  <h2 class="mt-4">Similar Songs</h2><hr>
  <div class="row">
    
    {% for song in similar_songs %}
    <div class="col-2">
      <div class="similar">
        <img class="card-img-top" src="{{song.song_img.url}}" alt="Card image cap" style="width:10rem">
        <div class="similar-body">
          <p>
            <a href="{{song.get_absolute_url}}">{{song.name|truncatechars:15}}</a>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
      There are no similar song.
    {% endfor %}
    </div>
  </div>
  {% comment %} similar songs end {% endcomment %}

{% endblock content%}